  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="select-image">
        <input type="file" name="imagebrowser" #imagebrowser accept="image/gif, image/jpeg, image/png" />
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="canvas-container">
        <canvas #canvas></canvas>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
